@model WebSite.ViewModels.ItemsViewModel

@{
    ViewBag.Title = "Settings";
}
<div class="panel-group" id="settings">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#settings" href="#display-settings">
                <h4 class="panel-title">
                    Settings
                </h4>
            </a>
        </div>
        <div id="display-settings" class="panel-collapse collapse in">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.HideCubed)
                    </dt>

                    <dd>
                        @Html.CheckBoxFor(model => model.HideCubed)
                    </dd>
                </dl>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.HideNonSeasonalCheckboxes)
                    </dt>

                    <dd>
                        @Html.CheckBoxFor(model => model.HideNonSeasonalCheckboxes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HideSeasonalCheckboxes)
                    </dt>

                    <dd>
                        @Html.CheckBoxFor(model => model.HideSeasonalCheckboxes)
                    </dd>
                </dl>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SeasonalProgressBar)
                    </dt>
                    <dd>
                        @Html.CheckBoxFor(model => model.SeasonalProgressBar)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NonSeasonalProgressBar)
                    </dt>
                    <dd>
                        @Html.CheckBoxFor(model => model.NonSeasonalProgressBar)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#settings" href="#export-settings">
                <h4 class="panel-title">
                    Export
                </h4>
            </a>
        </div>
        <div id="export-settings" class="panel-collapse collapse">
            <div class="panel-body">
                <input type="button" name="export" value="Export" class="btn-default btn" onclick="exportLocalStorage()" />
                <textarea class="export">@Json.Encode(Model)</textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#settings" href="#import-settings">
                <h4 class="panel-title">
                    Import
                </h4>
            </a>
        </div>
        <div id="import-settings" class="panel-collapse collapse">
            <div class="panel-body">
                <input type="submit" name="Import" value="Import" class="btn-default btn" onclick="importToLocalStorage()"/>
                <textarea id="import" class="import"></textarea>
            </div>
        </div>
    </div>
</div>