@using System.Text.RegularExpressions
@model System.Collections.Generic.IEnumerable<WebSite.ViewModels.BaseItemViewModel>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Affix)
        </th>
        <th class="td-center">
            @Html.DisplayNameFor(model => model.IsCubedSeason)
        </th>
        <th class="td-center">
            @Html.DisplayNameFor(model => model.IsCubedNonSeason)
        </th>
        <th class="td-center">
            @Html.DisplayNameFor(model => model.IsStashed)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr name="@(Regex.Replace(item.ItemName, @"[',\.\s]", "") + "Row")">
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affix)
            </td>
            <td class="td-center">
                @Html.CheckBoxFor(modelItem => item.IsCubedSeason, new {id = Regex.Replace(item.ItemName, @"[',\.\s]", "") + "IsCubedSeason", name = "faszalakúkő"})
            </td>
            <td class="td-center">
                @Html.CheckBoxFor(modelItem => item.IsCubedNonSeason, new {id = Regex.Replace(item.ItemName, @"[',\.\s]", "") + "IsCubedNonSeason"})
            </td>
            <td class="td-center">
                @Html.CheckBoxFor(modelItem => item.IsStashed, new {id = Regex.Replace(item.ItemName, @"[',\.\s]", "") + "IsStashed"})
            </td>
        </tr>
    }

</table>



<a id="to-the-top" href="#header-overlay">
    <i class="fa fa-chevron-circle-up"></i>
</a>